* {
    font-size: 1.1rem;
    font-family: No Continue;

    color: #FFFFFF;
    background-color: #181818;
}

h1 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: normal;
}

h2 {
    margin: 0;
    font-size: 0.9rem;
    font-weight: normal;

    color: #AAAAAA;
}

html, body {
    margin: 0;
    height: 100%;
}

body, .vertical {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.boxed {
    cursor: default;
    padding: 0.6rem;

    border: 1px solid #606060;
    border-radius: 0.3rem;
}

.center {
    align-items: center;
    justify-content: center;
}

.padding {
    padding: 0.6rem;
}

.stretch {
    width: 100%;
}

.horizontal {
    gap: 0.5rem;
    display: flex;
}

.sidePadding {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

select {
	appearance: none;
}

button:hover {
    background-color: #404040;
}

input, button, select {
    padding: 0.6rem;
    outline: none;

    border: 1px solid #606060;
    border-radius: 0.3rem;

    background-color: #303030;
}
